#colophon {
	color: var(--subdued-body);
	font-size: .83rem;

	a {
		color: var(--body);
		text-decoration: underline;
	}

	.site-copyright {

		a {
			@include headingFont;
			color: var(--body);
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				color: var(--subdued-body);
			}
		}
	}
}

.fat-footer-section {
	@include heading-font-reduced;

	& {
		font-size: .94rem;
	}

	.fat-col {

		.fat-footer-area-one {

			p {

				a {
					color: var(--subdued-body);
				}
			}
		}

		.widget_block {

			p {
				margin-bottom: clamp(1.25rem, 2vw, 1.67rem);
			}
		}
	}

	.wp-block-image {
		margin-bottom: .48rem;

		img {
			vertical-align: baseline;
		}
	}

	.single-col {

		.wp-block-heading {
			font-size: .94rem;
			line-height: 1;
			margin-bottom: 1rem;
		}

		ul:not(.wp-block-social-links),
		.menu {
			font-size: .88rem;
			list-style: none;
			margin: 0;
			padding: 0;

			li,
			.menu-item {
				margin-bottom: 0;

				a {
					@include bodyFont;
					color: var(--body);
					display: block;
					text-decoration: none;

					&:active,
					&:focus,
					&:hover {
						color: var(--action);
						text-decoration: underline;
					}
				}
			}
		}
	}
}